dist
build
coverage
node_modules*
.vscode*
images
serviceWorker.ts
cypress.json

.gitignore
.dockerignore
.eslintignore
.huskyrc
.commitlint.config.js
.lintstagedrc
package-lock.json
Dockerfile

webpack

.env
default.env

*.md
*.log
*.lock
*.yml
*.sh
*.conf
*.png
*.svg
*.ico
*.txt
*.css

tsconfig.json

!**/.eslintrc*
public/manifest.json
